.grid{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px);
    gap: 36px;
}
.item{
    background-color: blue;
}
.item:nth-child(1) ,.item:nth-child(10){
    grid-column: span 3;
}
.item:nth-child(2),.item:nth-child(7),.item:nth-child(3){
    grid-column: span 2;
}
.item:nth-child(4){
    grid-column: span 5;
}
.item:nth-child(1),.item:nth-child(5){
    grid-row: span 2;
}
.item:nth-child(1){
    background: #FF68D5;
}
.item:nth-child(2),.item:nth-child(3),.item:nth-child(5),.item:nth-child(7){
    background: #23ECF9;
}
.item:nth-child(4){
    background: #F80000;
}
.item:nth-child(10){
    background: #8DFF65;
}